.sidebar{
  }
.content{
	margin-top: 2px;

}
.example-margin {
  margin: 0 10px;
}
.today{
	width: 100%;
	height: 22%;
	position: absolute;
	z-index: 1;
}
.today-bg{
	padding: 30px 0;
	background: url('../../../../assets/images/bg/city1.jpg');
}
.today-time{
	margin: 0;
	color: white;
	z-index: 2;
}
.today-date{
	margin: 0;
	color: white;
	z-index: 2;
}
