<mat-tab-group class="tab-group">
  <mat-tab label="Informati">
    <div class="tab-content">
      <mk-form-patient
      (savePatient)="onUpdatePatient($event)"
      [disabled]="disabled"
      [patientData]="patient$ | async"
      ></mk-form-patient>
    </div>
  </mat-tab>
  <mat-tab label="Istoric Exerciti">
    <div class="tab-content">
    </div>

  </mat-tab>
  <mat-tab label="Program">
    <div class="tab-content">
    </div>

  </mat-tab>
</mat-tab-group>

