mat-card {
  margin: 15px;

  form {
    display: flex;
    flex-direction: column;
  }
  .container-file-selected {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .upload-file-input {
    width: 100%;
    padding: 10px;
  }
  .my-drop-zone {
    border: dotted 3px lightgray;
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 100%;
  }

  .exercises-list {

    .item {
      padding: 10px;
      margin: 10px 0;
      border: 2px dashed #dedede;
      justify-content: space-around;
      .mat-icon:hover {
        background: #b8b8b8;
        border-radius: 50%;
      }
      .details {
        margin: 10px;
        flex: 1;
        padding: 1rem;
        .title {

        }

        mat-form-field label {
          margin-bottom: 10px;
          display: block;
        }
      }

      .container-thumbnail {
        display: flex;
        justify-content: space-around;
        .thumbnail {

          padding: 4px;
          line-height: 1;
          border: 1px solid #ddd;
          position: relative;
          max-height: 270px;
          max-width: 260px;

          img {
            display: flex;
            flex-flow: row nowrap;
            object-fit: contain;
            height: 100%;
            width: 100%;
          }
          .number {
            position: absolute;
            top: 5px;
            left: 5px;
            z-index: 999;
            background-color: black;
            opacity: 0.6;
            font-weight: bold;
            padding: 3px;
            color: white;
          }
        }
      }

    }
  }
}

.nv-file-over {
  border: dotted 3px red;
}

#text-drop-zone {
  vertical-align: middle;
}

.dnd-drag-start {
  -moz-transform: scale(0.8);
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0.7;
  border: 2px dashed #000;
}

.dnd-drag-enter {
  opacity: 0.7;
  border: 2px dashed #000;
}

.dnd-drag-over {
  border: 2px dashed #000;
}

.dnd-sortable-drag {
  -moz-transform: scale(0.9);
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  opacity: 0.7;
  border: 1px dashed #000;
}
