<mat-card>
  <mat-card-title>Add Exercise</mat-card-title>
  <mat-card-content>

    <form [formGroup]="exerciseForm" (ngSubmit)="onSaveExercises()">
      <mat-form-field>
        <input
          matInput
          formControlName="name"
          placeholder="Name"
          required/>
      </mat-form-field>

      <mat-form-field>
        <textarea
          matInput
          formControlName="description"
          placeholder="Description"
          matTextareaAutosize
          matAutosizeMinRows="4"
          matAutosizeMaxRows="5">
        </textarea>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Select type" formControlName="type" required>
          <mat-option *ngFor="let item of codingExerciseType" [value]="item.code">{{item.display}}</mat-option>
        </mat-select>
      </mat-form-field>
      <div class="container-file-selected">
        <label for="uploader-input"
               ng2FileDrop [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
               (fileOver)="fileOverBase($event)"
               [uploader]="uploaderFiles"
               class="well my-drop-zone">
          <span id="text-drop-zone">Select file or drop it.</span>
        </label>
        <input type="file" ng2FileSelect [uploader]="uploaderFiles" id="uploader-input" style="display:none"/>
      </div>


      <div class="exercises-list" fxLayout="column" dnd-sortable-container [sortableData]="orderMedia">

        <div class="item" fxLayout="row" fxLayout.xs="column" fxLayout.sm="column"
             *ngFor="let item of orderMedia; let i = index"
             dnd-sortable
             [sortableIndex]="i">
          <div class="container-thumbnail">
            <div class="thumbnail">
              <img [src]="item.publicUrl" [alt]="item.name"/>
              <span class="number">{{i+1}}</span>
            </div>

            <div fxHide fxHide.xs="false" fxHide.sm="false" fxLayout="column" style="justify-content: space-around;">
              <mat-icon *ngIf="i !==0" (click)="moveUp(i)">arrow_upward</mat-icon>
              <mat-icon *ngIf="i !== orderMedia.length-1" (click)="moveDown(i)">arrow_downward</mat-icon>
            </div>
          </div>


          <div class="details" fxLayout="column">
            <span class="title">Name: {{item.name}}</span>
            <mat-form-field>
              <label>Description</label>
              <textarea
                matInput
                [(ngModel)]="item.description"
                [ngModelOptions]="{standalone: true}"
                matTextareaAutosize
                matAutosizeMinRows="1"
                matAutosizeMaxRows="5">
              </textarea>
            </mat-form-field>


          </div>

          <div fxHide.xs="true" fxHide.sm="true" fxLayout="column" style="justify-content: space-around;">
            <mat-icon *ngIf="i !==0" (click)="moveUp(i)">arrow_upward</mat-icon>
            <mat-icon *ngIf="i !== orderMedia.length-1" (click)="moveDown(i)">arrow_downward</mat-icon>
          </div>

        </div>
      </div>


      <button type="submit" mat-raised-button color="primary">Save</button>
    </form>
  </mat-card-content>
</mat-card>
