
<perfect-scrollbar style="height: calc(100% - 33px);">
    <div fxLayout="column">
        <mk-sidemenu-item *ngFor="let menu of menus" [menu]="menu" [iconOnly]="iconOnly"> </mk-sidemenu-item>
    </div>

</perfect-scrollbar>
