@mixin app($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);

  .sidenav, .drawer {
    background: #2d323e;
    overflow: hidden;
    position: relative;
  }

  .mat-toolbar.mat-primary {
    background: #373C47;
  }

  .mat-toolbar {
    background-color: white;
  }
}
