<mat-sidenav-container class="container" fullscreen>
  <mat-sidenav [mode]="sideNavMode" class="sidenav" #sidenav [opened]="sideNavOpened" style="overflow: hidden;">
    <mat-toolbar color="primary" class="mat-elevation-z4">
      <img src="../assets/images/my-kineto-logo.png" width="160px" style="margin: auto;">
    </mat-toolbar>
    <mk-sidemenu></mk-sidemenu>
  </mat-sidenav>
  <mat-sidenav-content style="z-index: unset;overflow: hidden;">
    <mat-drawer-container fullscreen>
      <mat-drawer mode="side" #drawer class="drawer" [opened]="matDrawerOpened" style="overflow: hidden;">
        <mat-toolbar color="primary" class="mat-elevation-z4">
          <img src="../assets/images/my-kineto-icon.png" width="26px" style="margin: auto;">
        </mat-toolbar>
        <mk-sidemenu [iconOnly]="true"></mk-sidemenu>
      </mat-drawer>
      <mat-drawer-content style="overflow: hidden;">

        <mk-toolbar [sidenav]="sidenav" [drawer]="drawer" [sidebar]="sidenav2" [matDrawerShow]="matDrawerShow"
                     style="z-index: 500"></mk-toolbar>


        <perfect-scrollbar style="height: calc(100% - 30px);">
          <div style="height: 100%;">
            <router-outlet #route="outlet"></router-outlet>
          </div>

        </perfect-scrollbar>
      </mat-drawer-content>
    </mat-drawer-container>
  </mat-sidenav-content>

  <mat-sidenav #sidenav2 position="end" mode="over">
    <!-- <mat-tab-group>
        <mat-tab label="Overview">
        </mat-tab>
        <mat-tab label="Notifications">
        </mat-tab>
    </mat-tab-group> -->
    <mk-sidebar></mk-sidebar>
  </mat-sidenav>

</mat-sidenav-container>





