<mat-card>
  <mat-card-title>Add Patient</mat-card-title>
  <mat-card-content>
    <mk-form-patient
      (savePatient)="onSavePatient($event)"
      [disabled]="false"
    ></mk-form-patient>
  </mat-card-content>
</mat-card>
