
<div class="mat-elevation-z8">
  <div class="header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter by name">
    </mat-form-field>
  </div>
  <mat-progress-bar *ngIf="isLoading$ | async" mode="indeterminate"></mat-progress-bar>

  <mat-table #table [dataSource]="dataSource" matSort>


    <!-- Position Column -->
    <ng-container matColumnDef="ID">
      <mat-header-cell *matHeaderCellDef mat-sort-header> No.</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.id}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="Name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Name</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name.family}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="Phone">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Phone</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.phone}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="Gender">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Gender</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.gender}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="Actions">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Actions</mat-header-cell>
      <mat-cell  *matCellDef="let element">
        <mat-icon (click)="onView(element)">visibility</mat-icon>
        <mat-icon (click)="onEdit(element)">edit</mat-icon>
        <mat-icon (click)="onDelete(element)">delete</mat-icon>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

  </mat-table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [length]="length$ | async" [pageSize]="pageSize"></mat-paginator>
</div>
