:host {
  padding: 15px 30px 15px 30px;
  display: flex;
  flex-direction: column;
  min-width: 300px;

}

.mat-table {
  overflow: auto;
  max-height: 800px;
}

.mat-row:hover {
  background: #a7a7a7;
}
.mat-icon {
  margin: 5px;
  padding: 5px;
}
.mat-icon:hover {
  background-color: #fff;
  border-radius: 10px;
}

.header {
  min-height: 64px;
  padding: 8px 24px 0;
  background-color: #f5f5f5;

  .mat-form-field {
    display: flex;
    flex-direction: column;
  }
}
