<mat-nav-list [style.height]="getHeight()" [ngClass]="{'secondaryMenu': secondaryMenu}">
  <mat-list-item *ngIf="menu.link==false" (click)="menu.open = !menu.open">

    <mat-icon matListIcon iconsmall>{{menu.icon}}</mat-icon>

    <h3 matLine *ngIf="!iconOnly">{{ menu.name }} </h3>
    <mat-chip-list *ngIf="menu?.chip && !iconOnly">
      <mat-chip>{{menu?.chip?.value}}</mat-chip>
    </mat-chip-list>
    <mat-icon *ngIf="chechForChildMenu()" class="sidenav-dropdown-indicator rotate "
              [ngClass]="{'indicateOpen':menu.open}"> expand_more
    </mat-icon>

  </mat-list-item>
  <mat-list-item *ngIf="menu.link!=false" (click)="menu.open = !menu.open" [routerLink]="[menu.link]">
    <mat-icon matListIcon iconsmall>{{menu.icon}}</mat-icon>
    <h3 matLine *ngIf="!iconOnly">{{ menu.name }} </h3>
  </mat-list-item>
  <mk-sidemenu-item *ngFor="let submenu of menu?.sub" [menu]="submenu" [iconOnly]="iconOnly"
                    [secondaryMenu]="true"></mk-sidemenu-item>
</mat-nav-list>




