<!-- <stbui-loading *ngIf="showLoading"></stbui-loading> -->
<mat-toolbar class="mat-elevation-z4">
  <button mat-icon-button (click)="sidenav.toggle();drawer.toggle();" *ngIf="matDrawerShow">
    <i class="material-icons app-toolbar-menu">menu </i>
  </button>
  <button mat-icon-button (click)="sidenav.toggle();" *ngIf="!matDrawerShow">
    <i class="material-icons app-toolbar-menu">menu </i>
  </button>

  <span class="spacer"></span>

  <button mat-icon-button (click)="searchOpen = !searchOpen" fxHide="true" [fxHide.gt-xs]="false">
    <i class="material-icons">search</i>
  </button>
  <mk-search-bar [open]="searchOpen"></mk-search-bar>

  <mk-fullscreen></mk-fullscreen>

  <mk-toolbar-notification [notifications]="toolbarHelpers?.notifications"></mk-toolbar-notification>

  <mk-user-menu [currentUser]="toolbarHelpers?.currentUser"></mk-user-menu>

  <button mat-icon-button (click)="sidebar.toggle();">
    <i class="material-icons app-toolbar-menu">menu </i>
  </button>

</mat-toolbar>
